body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
p,
label {
  color: lightgray;
}

.startscreen {
  width: 100%;
  height: 80%;
}

@media (max-width: 800px) {
  .create-game {
    visibility: hidden;
  }
}

@media (min-width: 800px) {
  .create-game {
    font-size: xx-large;
    height: fit-content;
  }
}

@media (min-width: 800px) {
  .creategame-container {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .joingame-container {
    width: 100%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-and-label {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }

  .join-text {
    color: aliceblue;
    display: flex;
    font-size: x-large;
    align-self: auto;
  }

  .join-input {
    width: 80%;
    color: rgb(5, 63, 114);
    display: flex;
    font-size: x-large;
  }

  .input-and-button {
    width: 100%;
    color: rgb(5, 63, 114);
    display: flex;
    font-size: x-large;
  }

  .random-name-button {
    margin-left: 5%;
    font-size: x-large;
    border-radius: 8px;
    background-color: #97d8e4;
  }

  .join-game {
    font-size: xx-large;
    border-radius: 8px;
    background-color: #97d8e4;
  }

  .error-text {
    color: rgb(241, 106, 106);
    display: flex;
    font-size: x-large;
    align-self: auto;
    margin-top: 3%;
  }
}

.squareBox {
  display: flex;
  overflow-wrap: break-word;
  vertical-align: top;
  text-align: left;
  border-style: solid;
}

.card-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.card-holder-h2 {
  font-family: monospace;
}

.active-cards {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
}

.square {
  display: flex;
  width: 200px;
  height: 250px;
  overflow-wrap: break-word;
  vertical-align: top;
  text-align: center;
  border-style: solid;
  margin-right: 10px;
}

.square.active {
  background-color: rgb(139, 141, 16);
}
.square.locked {
  background-color: rgb(99, 94, 94);
}
.square.placed {
  background-color: rgb(62, 119, 74);
}

.square.removed {
  background-color: rgb(119, 18, 18);
}

.remove {
  animation: fade-in-keyframes 3s;
}

@keyframes fade-in-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fullwidth {
  min-height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controller {
  width: 100%;
  height: 80%;
}

.next-turn-button {
  height: 80%;
  width: 40%;
  background-color: antiquewhite;
  margin-right: 0px;
}

.swipe-div {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.swipe.instructions {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swipe.h2 {
  color: aqua;
  margin-left: 25;
  margin-right: 25;
}

.swipe.h2.selected {
  margin-left: 25;
  margin-right: 25;
  color: aqua;
  text-shadow: 0px 0px 50px rgb(209, 149, 209), 0px 0px 50px rgb(221, 120, 213),
    0px 0px 50px rgb(211, 112, 194), 0px 0px 10px #812f76, 0px 0px 10px #daa6cd;
}

.controller-container {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.card-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 90%;
  justify-content: space-between;
}

.put-card-button {
  height: 40%;
  width: 40%;
  background-color: antiquewhite;
  align-self: center;
}

.rotation-button {
  height: 90%;
  width: 25%;
  background-color: antiquewhite;
}

.card-slider-container {
  justify-content: center;

  width: 25%;
}

.turn-box {
  background-color: rgb(9, 80, 15);
  overflow-wrap: break-word;
  margin: 0 auto;
  width: 20%;
  border-style: solid;
  border-color: beige;
}

.joinStuff {
  position: absolute;
  top: 0;
  left: 0;
}

.joinedplayerslist {
  margin-top: 5%;
  position: relative;
  background-color: rgb(44, 100, 122);
  overflow-wrap: break-word;
  border-style: solid;
}

.playerbox {
  position: relative;
  background-color: rgb(44, 100, 122);
  overflow-wrap: break-word;
  border-style: solid;
}

.joinCode {
  background-color: rgb(92, 29, 66);
  overflow-wrap: break-word;
  border-style: solid;
}

.settings-container {
  position: relative;
  background-color: rgb(5, 61, 65);
  border: 3px solid black;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  row-gap: 10px;
  padding-left: 1%;
  padding-right: 1%;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
}

.settings-checkbox {
  transform: scale(1.5);
  vertical-align: middle;
}

.settings-checkbox-label {
  color: aliceblue;
  font-size: large;
  margin-left: 1%;
  vertical-align: middle;
}

.confirm-settings {
  font-size: xx-large;
  border-radius: 8px;
  background-color: #97d8e4;
  position: absolute;
  top: 90%;
  left: 50%;
}

.confirm-settings:hover {
  background-color: #65cfe2;
}

.pick-score-container {
  display: flex;
  flex-direction: column;
  justify-content: left; /* center items vertically, in this case */
  align-items: left; /* center items horizontally, in this case */
}

.pick-score-buttons-and-label {
  display: flex;
  flex-direction: row;
}

.pick-score-button {
  font-size: large;
  border-radius: 8px;
  background-color: #97d8e4;
  width: 30px;
}

.pick-score-label {
  margin-left: 1%;
  margin-right: 1%;
  font-size: large;
  color: aliceblue;
  width: 20px;
}

.settings-headers {
  font-size: x-large;
  width: fit-content;
  color: aliceblue;
}

.scoreContainer {
  color: aliceblue;
}

.line {
  width: 100%;
  border-bottom: 1px solid black;
}
